/******* HEADER *******/

.header {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: space-between;
}

.logoPoint {
  background-image: url(../assets/logopoint.png);
  width: 111px;
  height: 42px;
  margin-left: 30px;
}

.hamburger {
  background-image: url(../assets/hamburger.png);
  width: 29px;
  height: 37px;
  margin: -3px 30px 0 0;
}

.news {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -40px;
  flex-direction: column;
}

.carPicture {
  background-image: url(../assets/tiggo.png);
  width: 354px;
  height: 349px;
  transform: scale(1.06);
}

.tagText {
  font-family: PoppinsBold;
  font-size: 15px;
  position: absolute;
  left: 47px;
  top: 418px;
  z-index: 1;
  transform: scale(1.06);
}

.tagLine {
  background-color: #6CABDE;
  width: 55px;
  height: 10px;
  position: absolute;
  left: 36px;
  top: 431px;
  z-index: 0;
  transform: scale(1.06);
}

.newsBullet {
  background-color: #6CABDE;
  width: 10px;
  height: 10px;
  border-radius: 30px;
  transform: scale(1.06);
  position: absolute;
  top: 9px;
  left: -12px;
}

.newsTitle {
  font-family: PoppinsBold;
  font-size: 25px;
  line-height: 25px;
  width: 310px;
  margin: 30px 0 0 20px;
  transform: scale(1.06);
}

.newsText {
  font-family: Segoe UI;
  font-size: 15px;
  width: 291px;
  color: #707070;
  transform: scale(1.06);
  margin-top: 25px;
}

.play {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 170px;
  align-self: flex-start;
  margin: 30px 0 0 36px;
}

.playText {
  font-family: PoppinsBold;
  font-size: 12px;
  transform: scale(1.06);
}

.playButton {
  background-image: url(../assets/playbutton.png);
  width: 44px;
  height: 55px;
  transform: scale(1.06);
}

.carouselBullets {
  background-image: url(../assets/carouselbullets.png);
  width: 112px;
  height: 20px;
  transform: scale(1.06);
  margin: 40px 0 50px 0;
}

/******* ABOUT *******/

.about {
  margin-top: -10px;
}

.aboutPoint {
  font-family: PoppinsBold;
  font-size: 30px;
  line-height: 62px;
  color: #6CABDE;
  transform: scale(1.06);
  margin-left: 45px;
}

.aboutTitle {
  font-family: PoppinsBold;
  font-size: 20px;
  line-height: 25px;
  transform: scale(1.06);
  width: 310px;
  margin: 10px 0 0 35px;
}

.aboutImage {
  background-image: url(../assets/astronaut.png);
  width: 287px;
  height: 288px;
  transform: scale(1.06);
  margin: 30px 0 0 50px;
}

.aboutText {
  font-family: Segoe UI;
  font-size: 15px;
  width: 291px;
  color: #707070;
  transform: scale(1.06);
  margin: 30px 0 0 35px;
  width: 320px;
}

.aboutLine {
  background-color: #6CABDE;
  width: 85vw;
  height: 25px;
  transform: scale(1.06);
  margin-top: 55px;
}

.aboutOffice {
  background-image: url(../assets/office.png);
  width: 375px;
  height: 281px;
}

.blackBg {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.owners {
  display: flex;
  justify-content: space-around;
}

.aboutMychel {
  margin: 30px 0 30px 0;
}

.aboutMychelPicture {
  background-image: url(../assets/mychel.png);
  width: 128px;
  height: 131px;
}

.aboutMychelName {
  font-family: PoppinsBold;
  font-size: 15px;
  margin: 10px 0 0 25px;
  transform: scale(1.06);
}

.aboutMychelJob {
  font-size: 12px;
  margin: 0 0 0 25px;
  transform: scale(1.06);
}

.aboutThiago {
  margin: 30px 0 0 0;
}

.aboutThiagoPicture {
  background-image: url(../assets/thiago.png);
  width: 128px;
  height: 131px;
}

.aboutThiagoName {
  font-family: PoppinsBold;
  font-size: 15px;
  margin: 10px 0 0 25px;
  transform: scale(1.06);
}

.aboutThiagoJob {
  font-size: 12px;
  margin: 0 0 0 25px;
  transform: scale(1.06);
}

.aboutText2 {
  font-family: Segoe UI;
  font-size: 15px;
  line-height: 22px;
  width: 315px;
  align-self: center;
}

.aboutTitle2 {
  font-family: PoppinsBold;
  font-size: 25px;
  line-height: 30px;
  color: #6CABDE;
  width: 330px;
  margin: 40px 0 50px 0;
  align-self: center;
  margin-left: 10px;
}

/******* TEAM *******/

.team {
  display: flex;
  flex-direction: column;
}

.teamArt {
  background-image: url(../assets/teamart.png);
  width: 275px;
  height: 275px;
  align-self: center;
  margin-top: -15px;
}

.teamTitle {
  font-family: PoppinsBold;
  font-size: 30px;
  line-height: 62px;
  margin: 15px 0 0 25px;
}

.teamText {
  font-family: Segoe UI;
  font-size: 15px;
  width: 300px;
  margin: 10px 0 0 25px;
}

.teamPictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Priscila {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  margin: 30px 0 0 0;
}

.PriscilaPicture {
  background-image: url(../assets/priscila.png);
  width: 128px;
  height: 131px;
}

.PriscilaName {
  font-family: PoppinsBold;
  font-size: 15px;
  line-height: 20px;
  width: 50px;
  margin: 10px 0 0 -20px;
}

.PriscilaJob {
  font-size: 12px;
  margin-left: -25px;
}

.Will {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  margin: 30px 0 0 0;
}

.WillPicture {
  background-image: url(../assets/will.png);
  width: 128px;
  height: 131px;
}

.WillName {
  font-family: PoppinsBold;
  font-size: 15px;
  width: 50px;
  margin: 10px 0 0 -20px;
}

.WillJob {
  font-size: 12px;
  margin-left: -5px;
  width: 50px;
  margin-left: -20px;
}

.MarcellaAt {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  margin: 30px 0 0 0;
}

.MarcellaAtPicture {
  background-image: url(../assets/marcellaat.png);
  width: 128px;
  height: 131px;
}

.MarcellaAtName {
  font-family: PoppinsBold;
  font-size: 15px;
  width: 50px;
  margin: 10px 0 0 -20px;
}

.MarcellaAtJob {
  font-size: 12px;
  margin-left: -5px;
  width: 50px;
  margin-left: -20px;
}

.Louro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  margin: 30px 0 0 0;
}

.LouroPicture {
  background-image: url(../assets/louro.png);
  width: 128px;
  height: 131px;
}

.LouroName {
  font-family: PoppinsBold;
  font-size: 15px;
  width: 50px;
  margin: 10px 0 0 -25px;
}

.LouroJob {
  font-size: 12px;
  margin-left: -5px;
  width: 70px;
}

.Robson {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  margin: 30px 0 0 0;
}

.RobsonPicture {
  background-image: url(../assets/robson.png);
  width: 128px;
  height: 131px;
}

.RobsonName {
  font-family: PoppinsBold;
  font-size: 15px;
  width: 50px;
  margin: 10px 0 0 -30px;
}

.RobsonJob {
  font-size: 12px;
  margin-left: -5px;
  width: 100px;
  margin-left: 20px;
}

.Tato {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  margin: 30px 0 0 0;
}

.TatoPicture {
  background-image: url(../assets/tato.png);
  width: 128px;
  height: 131px;
}

.TatoName {
  font-family: PoppinsBold;
  font-size: 15px;
  width: 50px;
  margin: 10px 0 0 -35px;
}

.TatoJob {
  font-size: 12px;
  margin-left: -5px;
  width: 80px;
}

.Danielle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  margin: 30px 0 0 0;
}

.DaniellePicture {
  background-image: url(../assets/danielle.png);
  width: 128px;
  height: 131px;
}

.DanielleName {
  font-family: PoppinsBold;
  font-size: 15px;
  width: 50px;
  margin: 10px 0 0 -50px;
}

.DanielleJob {
  font-size: 12px;
  width: 100px;
}

.MarcellaRh {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  margin: 30px 0 0 0;
}

.MarcellaRhPicture {
  background-image: url(../assets/marcellarh.png);
  width: 128px;
  height: 131px;
}

.MarcellaRhName {
  font-family: PoppinsBold;
  font-size: 15px;
  width: 50px;
  margin: 10px 0 0 -20px;
}

.MarcellaRhJob {
  font-size: 12px;
  width: 70px;
  margin-bottom: 180px;
}

/******* WHAT WE DO *******/

.wwd {
  background-color: #EB6099;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wwdAlien {
  background-image: url(../assets/alien.png);
  width: 300px;
  height: 213px;
  position: absolute;
  top: 4078px;
  left: 55px;
}

.wwdTitle {
  color: #fff;
  font-family: PoppinsBold;
  font-size: 30px;
  line-height: 35px;
  margin-left: -30px;
}

.wwdSubtitle {
  font-family: PoppinsBold;
  font-size: 20px;
  line-height: 25px;
  width: 300px;
  margin: 20px 0 0 -10px;
}

.wwdWork1 {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  margin: 40px 0 20px 0;
}

.wwd1image {
  background-image: url(../assets/symbol1.png);
  width: 89px;
  height: 89px;
}

.wwd1text {
  font-family: Segoe UI;
  font-size: 20px;
  line-height: 27px;
  color: #fff;
  width: 160px;
}

.wwdWork2 {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  margin: 20px 0 20px 0;
}

.wwd2image {
  background-image: url(../assets/symbol2.png);
  width: 89px;
  height: 71px;
  margin-top: 15px;
}

.wwd2text {
  font-family: Segoe UI;
  font-size: 20px;
  line-height: 27px;
  color: #fff;
  width: 160px;
}

.wwdWork3 {
  display: flex;
  width: 95vw;
  justify-content: space-around;
  margin: 20px 0 20px 0;
}

.wwd3image {
  background-image: url(../assets/symbol3.png);
  width: 110px;
  height: 104px;
}

.wwd3text {
  font-family: Segoe UI;
  font-size: 20px;
  line-height: 27px;
  color: #fff;
  width: 160px;
}

.wwdWork4 {
  display: flex;
  width: 95vw;
  justify-content: space-around;
  margin: 20px 0 20px 0;
}

.wwd4image {
  background-image: url(../assets/symbol4.png);
  width: 118px;
  height: 122px;
}

.wwd4text {
  font-family: Segoe UI;
  font-size: 20px;
  line-height: 27px;
  color: #fff;
  width: 160px;
}

.wwdWork5 {
  display: flex;
  width: 95vw;
  justify-content: space-around;
  margin: 20px 0 20px -20px;
}

.wwd5image {
  background-image: url(../assets/symbol5.png);
  width: 97px;
  height: 97px;
  margin: 10px 0 0 0px;
  transform: scale(1.1);
}

.wwd5text {
  font-family: Segoe UI;
  font-size: 20px;
  line-height: 27px;
  color: #fff;
  width: 140px;
}

.wwdText {
  font-family: Segoe UI;
  font-size: 15px;
  line-height: 20px;
  width: 300px;
  margin: 30px 0 80px 0;
}

/******* HOW WE DO *******/

.hwd {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hwdBalls {
  background-image: url(../assets/balls1.png);
  width: 159px;
  height: 80px;
  position: absolute;
  top: 5447px;
  left: 20px;
}

.hwdTitle {
  font-family: PoppinsBold;
  font-size: 30px;
  line-height: 60px;
  margin: 50px 0 10px 0;
}

.hwdCircles {
  background-image: url(../assets/circles.png);
  width: 1120px;
  height: 1120px;
  z-index: 0;
  position: relative;
  /* animation: rotate 30s linear; */
}

@keyframes rotate {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(-360deg)}
}

.hwdcPinkText1 {
  position: absolute;
  z-index: 1;
  font-family: PoppinsBold;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  top: 78px;
  left: 430px;
}

.cpinkText1, .cpinkText3 {
  color: #fff;
}

.hwdcPinkText2 {
  position: absolute;
  z-index: 1;
  font-family: PoppinsBold;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  width: 350px;
  top: 330px;
  left: 800px;
  transform: rotate(64deg);
}

.hwdcPinkText3 {
  position: absolute;
  z-index: 1;
  font-family: PoppinsBold;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  top: 870px;
  left: 750px;
  transform: rotate(140deg);
}

.hwdcPinkText4 {
  position: absolute;
  z-index: 1;
  font-family: PoppinsBold;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  top: 860px;
  left: 170px;
  transform: rotate(220deg);
}

.hwdcPinkText5 {
  position: absolute;
  z-index: 1;
  font-family: PoppinsBold;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  top: 330px;
  left: 80px;
  transform: rotate(295deg);
}

.hwdcBlueText1 {
  position: absolute;
  top: 267px;
  left: 480px;
  z-index: 1;
  font-family: PoppinsBold;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}

.cblueText1 {
  color: #fff;
}

.hwdcBlueText2 {
  position: absolute;
  top: 425px;
  left: 720px;
  z-index: 1;
  transform: rotate(65deg);
  text-align: center;
  font-family: PoppinsBold;
  font-size: 20px;
  line-height: 25px;
}

.hwdcBlueText3 {
  position: absolute;
  top: 730px;
  left: 650px;
  z-index: 1;
  transform: rotate(140deg);
  text-align: center;
  font-family: PoppinsBold;
  font-size: 20px;
  line-height: 25px;
}

.hwdcBlueText4 {
  position: absolute;
  top: 730px;
  left: 320px;
  z-index: 1;
  transform: rotate(220deg);
  text-align: center;
  font-family: PoppinsBold;
  font-size: 20px;
  line-height: 25px;
}

.hwdcBlueText5 {
  position: absolute;
  top: 435px;
  left: 230px;
  z-index: 1;
  transform: rotate(295deg);
  text-align: center;
  font-family: PoppinsBold;
  font-size: 20px;
  line-height: 25px;
}

.hwdArrows {
  display: flex;
  width: 85vw;
  justify-content: space-between;
  position: absolute;
  top: 5820px;
}

.arrowLeft {
  background-image: url(../assets/arrowleft.png);
  width: 31px;
  height: 56px;
}

.arrowRight {
  background-image: url(../assets/arrowright.png);
  width: 31px;
  height: 56px;
}

.hwdWhiteBg {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 6050px;
  width: 75vw;
}

.hwdwBgLight {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hwdLightImage {
  background-image: url(../assets/light.png);
  width: 46px;
  height: 45px;
}

.hwdLightText {
  font-family: PoppinsBold;
  font-size: 15px;
  line-height: 35px;
}

.hwdwBgLogo {
  background-image: url(../assets/logopoint2.png);
  width: 60px;
  height: 39px;
}

.hwdwBgMegaphone {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hwdMegaphoneImage {
  background-image: url(../assets/megaphone.png);
  width: 53px;
  height: 32px;
}

.hwdMegaphoneText {
  font-family: PoppinsBold;
  font-size: 15px;
  line-height: 35px;
}

/******* PREVIOUS WORKS *******/

.previousWorks {
  background-color: #000;
  position: absolute;
  width: 100vw;
  height: 1380px;
  top: 6170px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pwArt {
  background-image: url(../assets/camera.png);
  width: 298px;
  height: 298px;
  z-index: 4;
  margin: 50px 0 0 0;
}

.pwBalls {
  background-image: url(../assets/balls2.png);
  width: 159px;
  height: 80px;
  position: absolute;
  top: 173px;
  left: 13px;
  z-index: 3;
}

.pwTitle {
  color: #fff;
  font-family: PoppinsBold;
  font-size: 30px;
  line-height: 50px;
  margin-bottom: 50px;
}

.pwGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery1 {
  background-image: url(../assets/pw1.png);
  width: 181px;
  height: 151px;
  margin-bottom: 5px;
}

.gallery2 {
  background-image: url(../assets/pw2.png);
  width: 181px;
  height: 151px;
  margin-bottom: 5px;
}

.gallery3 {
  background-image: url(../assets/pw3.png);
  width: 181px;
  height: 151px;
  margin-bottom: 5px;
}

.gallery4 {
  background-image: url(../assets/pw4.png);
  width: 181px;
  height: 151px;
  margin-bottom: 5px;
}

.gallery5 {
  background-image: url(../assets/pw5.png);
  width: 181px;
  height: 151px;
  margin-bottom: 5px;
}

.gallery6 {
  background-image: url(../assets/pw6.png);
  width: 181px;
  height: 151px;
  margin-bottom: 5px;
}

.gallery7 {
  background-image: url(../assets/pw7.png);
  width: 181px;
  height: 151px;
  margin-bottom: 5px;
}

.gallery8 {
  background-image: url(../assets/pw8.png);
  width: 181px;
  height: 151px;
  margin-bottom: 5px;
}

.gallery9 {
  background-image: url(../assets/pw9.png);
  width: 181px;
  height: 151px;
  margin-bottom: 5px;
}

.gallery10 {
  background-image: url(../assets/pw10.png);
  width: 181px;
  height: 151px;
  margin-bottom: 5px;
}

.gallery11 {
  background-image: url(../assets/pw11.png);
  width: 181px;
  height: 151px;
  margin-bottom: 5px;
}

.gallery12 {
  background-image: url(../assets/pw12.png);
  width: 181px;
  height: 151px;
  margin-bottom: 5px;
}

/******* CASES *******/

.cases {
  color: #fff;
  background-color: #000;
  margin-top: 810px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.casesTitle {
  color: #6CABDE;
  padding-top: 50px;
  font-family: PoppinsBold;
  font-size: 30px;
  line-height: 50px;
  margin: 0 0 0 -50px;
}

.case1Title {
  font-family: PoppinsBold;
  font-size: 20px;
  line-height: 62px;
  margin: 0 0 20px -160px;
}

.casesArrows {
  display: flex;
  justify-content: space-between;
  width: 92vw;
  position: absolute;
  top: 7880px;
}

.case1Image {
  background-image: url(../assets/adops.png);
  width: 876px;
  height: 487px;
  margin: 0 0 0 120px;
}

.case1Subtitle1 {
  font-family: PoppinsBold;
  font-size: 20px;
  line-height: 20px;
  margin: -50px 0 30px -165px;
}

.case1Text1 {
  font-family: Segoe UI;
  font-size: 15px;
  line-height: 20px;
  width: 270px;
}

.case1Subtitle2 {
  font-family: PoppinsBold;
  font-size: 20px;
  line-height: 20px;
  margin: 80px 0 30px -165px;
}

.case1Text2 {
  font-family: Segoe UI;
  font-size: 15px;
  line-height: 20px;
  width: 280px;
  margin: 0 0 100px 0;
}

/******* CLIENTS *******/

.clientsTitle {
  font-family: PoppinsBold;
  font-size: 30px;
  line-height: 35px;
  margin: 40px 0 45px 45px;
}

.clientsArt {
  background-image: url(../assets/client.png);
  width: 378px;
  height: 249px;
  margin: 0 0 20px -15px;
}

.clientsGallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.client1 {
  background-image: url(../assets/client1.png);
  width: 170px;
  height: 70px;
  margin: 0 0 40px 0;
}

.client2 {
  background-image: url(../assets/client2.png);
  width: 170px;
  height: 70px;
  margin: 0 0 40px 0;
}

.client3 {
  background-image: url(../assets/client3.png);
  width: 170px;
  height: 70px;
  margin: 0 0 40px 0;
}

.client4 {
  background-image: url(../assets/client4.png);
  width: 170px;
  height: 70px;
  margin: 0 0 40px 0;
}

.client5 {
  background-image: url(../assets/client5.png);
  width: 170px;
  height: 70px;
  margin: 0 0 40px 0;
}

.client6 {
  background-image: url(../assets/client6.png);
  width: 170px;
  height: 70px;
  margin: 0 0 40px 0;
}

.client7 {
  background-image: url(../assets/client7.png);
  width: 170px;
  height: 70px;
  margin: 0 0 40px 0;
}

.client8 {
  background-image: url(../assets/client8.png);
  width: 170px;
  height: 70px;
  margin: 0 0 40px 0;
}

.client9 {
  background-image: url(../assets/client9.png);
  width: 170px;
  height: 70px;
  margin: 0 0 40px 0;
}

.client10 {
  background-image: url(../assets/client10.png);
  width: 170px;
  height: 70px;
  margin: 0 0 30px 0;
}

.client11 {
  background-image: url(../assets/client11.png);
  width: 170px;
  height: 70px;
  margin: 0 0 40px 0;
}

.client12 {
  background-image: url(../assets/client12.png);
  width: 170px;
  height: 70px;
  margin: 0 0 40px 0;
}

.client13 {
  background-image: url(../assets/client13.png);
  width: 170px;
  height: 70px;
  margin: 0 0 40px 0;
}

.client14 {
  background-image: url(../assets/client14.png);
  width: 170px;
  height: 70px;
  margin: 0 0 40px 0;
}

.client15 {
  background-image: url(../assets/client15.png);
  width: 170px;
  height: 70px;
  margin: 0 0 60px 0;
}

/******* CAREERS *******/

.careers {
  background-color: #6CABDE;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.careersArt {
  background-image: url(../assets/careers.png);
  width: 304px;
  height: 367px;
  margin: 30px 0 40px 40px;
}

.careersTitle {
  font-family: PoppinsBold;
  font-size: 30px;
  line-height: 62px;
  color: #fff;
  margin: 0 0 40px -170px;
}

.careersText {
  font-family: Segoe UI;
  font-size: 15px;
  line-height: 20px;
  width: 290px;
  margin: 0 0 50px 0;
}

.careersOpenings {
  font-family: PoppinsBold;
  font-size: 20px;
  line-height: 25px;
  width: 300px;
  margin: 0 0 100px 0;
}

/******* CONTACT *******/

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactArt {
  background-image: url(../assets/contact.png);
  width: 269px;
  height: 232px;
  margin: 20px 0 20px 0;
}

.contactTitle {
  font-family: PoppinsBold;
  font-size: 30px;
  line-height: 62px;
  color: #EB6099;
  margin: 0 0 10px -160px;
}

.contactText {
  font-family: Segoe UI;
  font-size: 20px;
  line-height: 27px;
  width: 310px;
  margin: 0 0 20px 0;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formSubject {
  width: 313px;
  height: 50px;
  border: 2px #EB6099 solid;
  border-radius: 30px;
  color: #EB6099;
  padding: 0 0 0 20px;

  font-family: Segoe UI;
  font-size: 20px;
  line-height: 27px;

  margin: 0 0 5px 0;
}

.formName {
  width: 313px;
  height: 47px;
  border: 2px #EB6099 solid;
  border-radius: 30px;
  color: #EB6099;
  padding: 0 0 0 20px;

  font-family: Segoe UI;
  font-size: 20px;
  line-height: 27px;

  margin: 5px 0 5px 0;
}

.formName::placeholder {
  color: #EB6099;
}

.formEmail {
  width: 313px;
  height: 47px;
  border: 2px #EB6099 solid;
  border-radius: 30px;
  color: #EB6099;
  padding: 0 0 0 20px;

  font-family: Segoe UI;
  font-size: 20px;
  line-height: 27px;

  margin: 5px 0 5px 0;
}

.formEmail::placeholder {
  color: #EB6099;
}

.formPhone {
  width: 313px;
  height: 47px;
  border: 2px #EB6099 solid;
  border-radius: 30px;
  color: #EB6099;
  padding: 0 0 0 20px;

  font-family: Segoe UI;
  font-size: 20px;
  line-height: 27px;

  margin: 5px 0 15px 0;
}

.formPhone::placeholder {
  color: #EB6099;
}

.formMessage {
  width: 295px;
  height: 400px;
  border: 2px #EB6099 solid;
  border-radius: 30px;
  color: #EB6099;
  padding: 20px 0 0 20px;

  margin: 15px 0 10px 0;
}

.formMessage::placeholder {
  color: #EB6099;
}

.contactButton {
  background-color: #EB6099;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-family: PoppinsBold;
  font-size: 20px;
  line-height: 30px;
  width: 241px;
  height: 50px;

  margin: 10px 0 80px 0;
}

/******* FOOTER *******/

.footer {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerLinks {
  font-family: PoppinsBold;
  font-size: 20px;
  line-height: 25px;
  margin: 50px 0 50px -60px;
}

.footerLogo {
  background-image: url(../assets/logopoint3.png);
  width: 187px;
  height: 120px;
  margin: 0 0 60px 0;
}

.footerSocials {
  display: flex;
  width: 180px;
  justify-content: space-between;
  margin: 0 0 90px 0;
}

.instagram {
  background-image: url(../assets/insta.png);
  width: 33px;
  height: 33px;
}

.twitter {
  background-image: url(../assets/twitter.png);
  width: 33px;
  height: 27px;
}

.facebook {
  background-image: url(../assets/fb.png);
  width: 17px;
  height: 33px;
}

.pin {
  background-image: url(../assets/pin.png);
  width: 23px;
  height: 31px;
}

.address {
  font-family: Poppins;
  font-size: 15px;
  line-height: 23px;
  margin: 20px 0 40px 0;
}

.footerCopyright {
  color: #EB6099;
  font-family: Poppins;
  font-size: 10px;
  line-height: 16px;
  margin: 0 0 30px -135px;
}