.body {
    background-color: #000000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #252525;
    color: #FFFFFF;
    padding: 20px 0;
}

.headerContainer {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLogo {
    background-image: url(../assets/new/logopoint.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 105px;
    height: 66px;
    cursor: pointer;
}

.headerButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.headerButtonClients {
    border: 2px solid #555555;
    border-radius: 30px;
    padding: 5px 20px;
    cursor: pointer;
    transition: background-color 1s ease;
}

.headerButtonClients:hover {
    background-color: #EB6099;
}

.headerButtonCases {
    border: 2px solid #555555;
    border-radius: 30px;
    padding: 5px 20px;
    margin: 0 5px 0 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.headerButtonCases:hover {
    background-color: #EB6099;
}

.main {
    background-color: #000000;
    flex: 1;
    color: #FFFFFF;
    padding: 50px 0;
}

.mainContainer {
    max-width: 86%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.client {
    width: 536px;
    height: 534px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 9px 9px 0;
    filter: grayscale(100%);
    background-size: 100%;
    transition: filter 0.3s ease, background-size 0.5s ease;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
}

.client:hover {
    filter: grayscale(0%);
    background-size: 110%;
}

.courtain {
    width: 536px;
    height: 534px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    background-color: #000000;
    transition: opacity 0.6s ease;
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.clientLogo {
    opacity: 0;
    z-index: 2;
    transition: opacity 0.3s ease;
}

.client:hover .courtain {
    opacity: 100%;
}

.client:hover .clientLogo {
    opacity: 100%;
}

.footer {
    background-color: #FFFFFF;
    padding: 20px 0;
}

.footerContainer {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
}

.footerLogo {
    background-image: url(../assets/new/pointlogo2.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 190px;
    height: 70px;
    cursor: pointer;
}

.footerSocials {
    display: flex;
}

.whatsapp {
    background-image: url(../assets/new/zap.png);
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-repeat: no-repeat;
    transform: scale(0.8);
    margin: 0 0px 0 0;
  }
  
  .linkedin {
    background-image: url(../assets/new/link.png);
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-repeat: no-repeat;
    transform: scale(0.8);
    margin: 0 0px 0 -10px;
  }
  
  .instagram {
    background-image: url(../assets/new/insta.png);
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-repeat: no-repeat;
    transform: scale(0.8);
    margin: 0 0px 0 -10px;
  }
  
  .facebook {
    background-image: url(../assets/new/face.png);
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-repeat: no-repeat;
    transform: scale(0.8);
    margin: 0 0px 0 -10px;
  }
  
  .clientSidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 40px;
    font-weight: bold;
    min-height: 400px;
    margin: 0 50px 0 0;
  }

  .formatsButtons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .clientButtonVideo {
    background-color: #6CABDE;
    border-radius: 30px;
    font-size: 22px;
    margin: 0 0 10px 0;
    font-weight: lighter;
    padding: 5px 20px 5px 20px;
    cursor: pointer;
    display: flex;
    width: 100%;
  }

  .clientButtonEmkt {
    background-color: #EC6099;
    border-radius: 30px;
    font-size: 22px;
    margin: 0 0 10px 0;
    font-weight: lighter;
    padding: 5px 20px 5px 20px;
    cursor: pointer;
    display: flex;
    width: 100%;
  }

  .clientButtonReanimate {
    background-color: #DD1B58;
    border-radius: 30px;
    font-size: 22px;
    margin: 0 0 10px 0;
    font-weight: lighter;
    padding: 5px 20px 5px 20px;
    cursor: pointer;
    display: flex;
    width: 100%;
  }

  .arrowDown {
    background-image: url(../assets/mobile/arrowright.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 11px;
    height: 20px;
    transform: rotate(90deg);
    margin: 8px 0 0 15px;
  }

  .arrowUp {
    background-image: url(../assets/mobile/arrowright.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 11px;
    height: 20px;
    transform: rotate(-90deg);
    margin: 8px 0 0 15px;
  }
  
  .clientButtonFormats {
    font-size: 16px;
    font-weight: lighter;
    margin: 0 0 15px 30px;
  }

  .buttonFormat {
    cursor: pointer;
  }

  .buttonFormat:hover {
    text-shadow: 1px 0 0 currentColor;
  }

  .active {
    color: #6CABDE;
    font-weight: bold;
  }

  .clientTitleContent {
    max-width: 83%;
  }

  .clientTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    color: #DD1B58;
  }

  .iframeContainer {
    width: 300px;
    height: 250px;
    cursor: pointer;
    background-color: red;
    margin: 5px;
  }

  .iframeContainer img {
    width: 300px;
  }

  .clientContentContainer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    pointer-events: auto;
  }
  
  .modalContent {
    position: relative;
    z-index: 10000;
    pointer-events: auto;
    padding: 10px 10px 5px 10px;
    background-color: #6CABDE;
    border-radius: 30px;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #6CABDE;
    border-radius: 0px 30px 10px 30px;
    color: white;
    border: none;
    padding: 5px 20px 10px 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    font-family: Helvetica;
  }

  .closeButton:hover {
    color: #DD1B58;
  }

  .iframe {
    border: none;
    z-index: 10001;
    pointer-events: auto;
    max-height: 70vh;
    max-width: 70vw;
    border-radius: 30px;
  }